source /opt/ros/jazzy/setup.bash
source install/setup.bash
export TURTLEBOT3_MODEL=burger
export LDS_MODEL=LDS-02
echo "export ROS_DOMAIN_ID= *ID of Robot (example: export ROS_DOMAIN_ID= 40)"
echo "Custom ROS 2 environment loaded!"
